html, body{
    height: 100%;
   
}

li{
    list-style:none;
}
div{
    color:black;
    height: 100%;
}

th{
    border: solid 2px black;
}
tr{
    border: solid 2px blue;
}

.derecha{
    
    height: 30%;
    float: left;
 
    
    
}

.centro{
    width: 10%;
    height: 30%;
    float: left;
    background-color: white;
    text-align: center;
}

.izquierda{
    
    height: 30%;
    float: left;
  
  
}
.nombre{
    margin-top: 22px;
    margin-bottom: 48px;
    margin-left: 5%;
}
.contenedor{
    width: 30%;
    float: left;
    background-color: gray;
}
.contenedor1{
    width: 40%;
    float: left;
}
.contenedor2{
    background-color: gray;
    width: 30%;
    float: left;
}
.vs{
    font-size: 30px;
margin-top: 20%;
margin-bottom: 58%;
font-weight: bold;
font-family: "Times New Roman", Times, serif;
}