[nombre] {
    color:blue;
}



a, a:hover, a:focus, a:active{

    text-decoration: none;
    cursor: wait;
}
html, body{
    height: 100%;
   
}

.cabecera{
    
    height: 10%  !important;
    border: 1px solid black;
}
.pie{
    
    height: 10%  !important;
    border: 1px solid black;
}
.contenedor{
    height: 80%;
    
    width: 100%;

}
.menu{
    height: 100%;
   
    width: 49.70%;
    float: left;
    margin: none;
    border: 1px solid black;
    

}
.menu1{
    height: 100%;
    border: 1px solid black;
    width: 49.70%;
    float: right;
    margin: none;

}
img{
    width: 100%;
    height: 100%;
    position: absolute;
}

.balon{
    width: 15%;
    height: 15%;
    background: black;
    border-radius: 50%;
    position :relative;
    -webkit-animation: mymove 3s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 3s infinite;
    
}
@keyframes mymove{

    0%{top:75%; left: 30%;}
    25%{top:68%; left: 37%;}
    50%{top:59%; left: 45%;}
    75%{top:39%; left: 65%;}
    100%{top: 19%; left: 15%;}
    
}



